
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Font-Awesome-4.7/css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
	
	<title>ranDC</title>
</head>

<body>
	
	<div class="container">
		<section class="col-md-12 content" id="home">
			<div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg tm-logo-box">
				<i class="fa fa-snowflake-o fa-4x tm-logo"></i>
				<h1>ranDC</h1>
				<p>ranDC is a malware detection framework based on Machine Learning and Hidden Markov Model with Gaussian 
					Emmission. </p>
				
			</div>
			<div class="col-lg-6 col-md-6 content-item content-item-1 background tm-white-translucent-bg">
				<h2 class="main-title text-center dark-blue-text">.01 About</h2>
				<p>You can upload a pcap file to scan for malware activity in the network.
				</p>      
				<form action="/" method="post" name="contact-form" class="contact-form" enctype="multipart/form-data">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
						
							<input type="file" name="file" autocomplete="off" class="form-control" required>
						</div>    
					</div>
				
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group margin-b-0">
							<button type="submit" id="form-submit" class="btn pull-right btn-contact tm-btn-primary">Submit</button>
						</div>    
					</div>
				</form>    
			</div>
		</section>

		

	
<section class="col-md-12 content padding tm-float-section tm-section-3">

		<div class="col-lg-6 col-md-6 content-item tm-black-translucent-bg"></div>
		<div class="col-lg-6 col-md-6 content-item tm-white-translucent-bg"></div>
		
		<div class="tm-float-section-header">
		<h2 class="text-center tm-white-text tm-section-3-header">.02 Logs & Result</h2>  
		</div>

		<div class="tm-float-section-body tm-white-bg">
		<div class="col-lg-12">
			<div class="col-md-4 col-lg-4">
			<i class="fa fa-commenting-o fa-4x tm-fa-icon"></i>
			<h3>Alerts</h3>
			<p>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul class=flashes>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
					{% endif %}
				{% endwith %}
			</p>
			</div>
			<div class="col-md-4 col-lg-4">
			<i class="fa fa-code fa-4x tm-fa-icon"></i>
			<h3>Logs</h3>
			<p><div id="log"></div></p>
			</div>
			<div class="col-md-4 col-lg-4">
			<i class="fa fa-inbox fa-4x tm-fa-icon"></i>
			<h3>Result</h3>
			<p><div id="result"></div></p>
			</div>
		</div>
		</div>
		
		</section>

</div>

<div class="text-center footer">
	<div class="container">
		Copyright &copy; <span class="tm-current-year">2023</span> 
		
		| Design: <a href="http://www.amanonearth.com" target="_parent">amanonearth</a>
	</div>
</div>

</body>
</html>